body {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    text-align: left;
    margin: auto;
}
body > h1, h2, h3, h4, h5, h6 {
    color: rgb(51, 85, 179);
}
header {
    font-size: 1.5em;
    font-weight: 200;
    color: rgb(37, 37, 37);
}
header > h1 {
    color:rgb(51, 85, 179);
}
main > h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
main {
    font-size: 1.15em;
    margin: 10px;
}
article > ol {
    margin-bottom: .75em;
    padding-left: 75px;
}
.code {
    font-family: monospace;
    background-color: rgb(236, 236, 236);
    border-style: solid;
    padding: 1.5px;
    border-color: rgb(212, 212, 212);
    border-radius: 4px;
    border-width: 1px;
}